html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--font-ui);
}

body {
  color: var(--tray-text);
  background: transparent;
  overflow: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font: inherit;
  color: inherit;
}
